beautifulsoup4==4.14.3
chardet==5.2.0
docx2txt==0.9
Jinja2==3.1.6
lxml==6.0.2
mammoth==1.11.0
openpyxl==3.1.5
pdfplumber==0.11.7
Pillow==12.1.0
psycopg2-binary==2.9.11
PyMuPDF==1.22.5
pyodbc==5.1.0
PyPDF2==3.0.1
python-docx==1.2.0
python-pptx==1.0.2
PyYAML==6.0.3
reportlab==4.4.4
requests==2.32.5
spire-doc==13.8.0
streamlit==1.51.0
streamlit-extras==0.7.8
