
img {
  max-width: 400px;
  height: auto;
}


.stColumn > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* SIGN IN & SIGN UP BUTTONS */
/* Style Sign In and Sign Up buttons */
.st-key-sign-inbtn button,
.st-key-sign-upbtn button {
    background-color: #fff !important;
    color: #0c0c0c !important;
    border-radius: 14px !important;
    margin: 0 10px !important;
    padding: 0.6em 2.5em !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    transition: background 0.2s;
}
.st-key-sign-inbtn button:hover,
.st-key-sign-upbtn button:hover {
    background-color: #a59d9f !important;
}
/* General: Center text inputs and titles */
.stTextInput > div > div {
    justify-content: center;
}

h1, h2, h3 {
    text-align: center;
}

.st-key-log-inbtn button,
.st-key-create-btn button {
    background-color: #5D4E51 !important;
    color: #fff !important;
    border-radius: 14px !important;
    margin: 10px 0 5px 0 !important;
    padding: 0.6em 2.5em !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    transition: background 0.2s;
}
.st-key-log-inbtn button:hover,
.st-key-create-btn button:hover {
    background-color: #988686 !important;
}

.st-key-log-outbtn button {
    background-color: #5D4E51 !important;
    color: #fff !important;
    border-radius: 14px !important;
    margin: 10px 0 5px 0 !important;
    padding: 0.6em 2.5em !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    transition: background 0.2s;
}
.st-key-log-outbtn button:hover {
    background-color: #988686 !important;
}

.st-key-re-btn button,
.st-key-man-btn button,
.st-key-jb-btn button {
    background-color: #16080b !important;
    color: #fff !important;
    border-radius: 14px !important;
    margin: 10px 0 5px 0 !important;
    padding: 0.6em 2.5em !important;
    font-weight: 600 !important;
    font-size: 1rem !important;
    transition: background 0.2s;
    align-items: center;
}
.st-key-re-btn button:hover,
.st-key-man-btn button:hover,
.st-key-jb-btn button:hover {
    background-color: #988686 !important;
}