<style>
@page { margin: 0.3in; size: letter; }
body { margin: 0; padding: 0; }

.ats-page { 
    font-family: 'Calibri', sans-serif; 
    font-size: 9pt; 
    color: #333; 
    max-width: 100%; 
    margin: 0; 
    padding: 0.3in;
    line-height: 1.2; 
}

.ats-header { 
    text-align: center; 
    border-bottom: 2px solid #000; 
    padding-bottom: 3px; 
    margin-bottom: 8px; 
}

.ats-header h1 { 
    color: #000; 
    font-size: 17pt; 
    margin: 0; 
}

.ats-job-title-header { 
    font-size: 11pt; 
    margin: 2px 0 5px 0; 
}

.ats-contact { 
    font-size: 8.5pt; 
    margin-top: 3px; 
}

.ats-contact span:not(:last-child)::after { 
    content: " | "; 
    white-space: pre; 
}

.ats-section-title { 
    color: {{ color }}; 
    font-size: 10.5pt; 
    font-weight: bold; 
    text-transform: uppercase; 
    letter-spacing: 0.5px; 
    margin-top: 8px; 
    margin-bottom: 3px; 
}

.ats-item-header { 
    margin-top: 2px; 
    margin-bottom: 1px; 
    line-height: 1.1; 
}

.ats-item-title { 
    font-weight: bold; 
    color: #000; 
    display: inline-block; 
}

.ats-item-duration { 
    font-size: 8.5pt; 
    color: {{ color }}; 
    display: block; 
    font-style: italic; 
    margin-top: 1px; 
}

.ats-item-subtitle { 
    font-style: italic; 
    color: #555; 
    display: inline-block; 
    margin-left: 5px; 
    font-size: 8.5pt; 
}

.ats-bullet-list { 
    list-style-type: disc; 
    margin-left: 18px; 
    padding-left: 0; 
    margin-top: 2px; 
    margin-bottom: 3px; 
}

.ats-bullet-list li { 
    margin-bottom: 0px; 
    line-height: 1.2; 
}

.ats-skills-group { 
    margin-bottom: 3px; 
}

p { 
    margin: 5px 0; 
}
</style>
